.common__section {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../assets/images/room.webp") no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.common__section h1 {
    color: #fff;
    font-weight: 600;
}